html, body {
  scroll-behavior: smooth;
  min-width: 290px;
  color: #464646;
  font-weight: 400;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background: url(https://temtem.gamepedia.com/media/0/00/Background_1_.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #01bed2;
}

header {
  color: #464646;
  font-weight: 600;
  margin: 10px;
  text-align: left;
  font-size: 1.8em;
  font-weight: thin;
}

nav {
  display: block;
}

.main-section {
margin-bottom:50px;
background: rgba(225, 95, 26, 0.4);
border: 1px solid #e15f1a;
border-radius: 5px;
padding:20px;
}

.background {
color: #e15f1a;
}
#main-doc {
position: relative;
overflow: hidden;
left:300px;
margin-right: 300px;
padding: 20px;
}

#navbar {
position: fixed;
min-width: 290px;
top: 0px;
left: 0px;
width: 300px;
height: 100%;
border-right: 1px solid #e15f1a;
}

#navbar ul {
  height: 227px;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background: rgba(225, 95, 26, 0.4);
}

.border-bottom {
border-bottom: 2px solid #e15f1a;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

article {
  border-top: 1px solid #e15f1a;
  list-style: none;
  position: relative;
  width: 100%;
}
li {
  display: list-item;
  text-align: left;
}

#navbar li {
  border-top: 1px solid #e15f1a;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #464646;
  font-weight:600;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 815px) {
#navbar {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 300px;
  border: none;
  z-index: 1;
  border-bottom: 2px solid #e15f1a;
}
#navbar ul {
  border-top: 1px solid #e15f1a;
  height: 225px;
}
#main-doc {
  position: relative;
  overflow: hidden;
  left: 0;
  margin-right: 0;
  top:275px;
}

header {
  text-align: center;
}
li {
  text-align: center;
}
}

.zoom {
padding: 50px;
transition: transform .2s; /* Animation */
margin: 0 auto;
}

.zoom:hover {
transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}